ol, ul {
	list-style: none;
}
.cp_offcm01 {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
    z-index: 50;
}
/* menu */
.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
    transition: 0.53s transform;
    transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #CCE6E8;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #000;
}

.cp_offcm01 #cp_toggle01 {
	display: none;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
    transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
    margin: 0 1rem;
	cursor: pointer;
    transition: 0.5s transform;
	text-align: center;
	color: #000;
    font-size: 2rem;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
    transform: translateX(-250px);
}
