html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

h3 {
    margin: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body.rss-entries a {
    display: block;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

#add-rss {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    color: #737373;
    padding: 10px;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}

#title {
    width: 100vw;
    background-color: #EEF9FF;
    filter: drop-shadow(0 0 5px #000);
    text-align: center;
}
#title.resize {
    height: 7rem;
    font-size: 4rem;
}
@media (max-width: 600px)	{
	#title.resize {
        height: 3.5rem;
		font-size: 2rem
	}
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: #FAFAFA;
}

#spinner {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.spinner-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.1); ;
}

.feed-card {
    min-width: 24rem;
    margin: 1rem;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    opacity: 0.3;
    font-size: 2rem;
}

.rss-entries {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none;
}
